<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/web.manifest">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/render.js"></script>
</head>

<body class="font-Poppins">
    <!-- Search -->
    <section class="mt-12">
        <div class="md:container md:mx-auto">

            <!-- Discover Music -->
            <!-- Heading -->
            <div class="mt-4 flex flex-row sm:w-3/4 mx-auto px-2 mb-4">
                <h1 class="text-md text-lg text-gray-100 flex-1">Discover Music</h1>
                <ion-icon class="justify-end" name="ellipsis-horizontal-outline"></ion-icon>
            </div>
            <!-- Content -->
            <div class="sm:w-fit mx-auto px-2">
                <div class="carousel carousel-center space-x-2">
                    <div class="carousel-item w-9/12 ">
                        <a href="">
                            <div class="flex flex-col">
                                <div class="relative w-full">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg" src="https://i.ytimg.com/vi/H1yClzFIhuc/sddefault.jpg"
                                        alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Garo (avec Max DLG)</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">LVZ</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item w-9/12">
                        <a href="">
                            <div class="flex flex-col">
                                <div class="relative w-fit">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg" src="https://i.ytimg.com/vi/adyaUwFzb9M/sddefault.jpg"
                                        alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Ma go</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">Moji x Sboy</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Recently played tracks -->
            <!-- Heading -->
            <div class="mt-10 mb-4 flex flex-row sm:w-3/4 mx-auto px-2">
                <h1 class="text-md text-lg text-gray-100 flex-1">Recently played tracks</h1>
                <h3 class="text-sm text-secondary justify-end">See all</h3>
            </div>
            <!-- Content -->
            <div class="sm:w-fit mx-auto px-2">
                <div class="carousel carousel-center space-x-2">
                    <div class="carousel-item w-9/12">
                        <a href="">
                            <div class="flex flex-col">
                                <div class="relative w-full">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg" src="https://i.ytimg.com/vi/H1yClzFIhuc/sddefault.jpg"
                                        alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Garo (avec Max DLG)</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">LVZ</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item w-9/12">
                        <a href="">
                            <div class="flex flex-col">
                                <div class="relative w-fit">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg" src="https://i.ytimg.com/vi/adyaUwFzb9M/sddefault.jpg"
                                        alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Ma go</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">Moji x Sboy</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="fixed bottom-0 w-full bg-base-200 py-4 text-2xl flex justify-between items-center">
        <div class="container flex justify-between items-center">
            <a class="active:scale-90 transition text-secondary" href="/home">
                <ion-icon name="home-outline"></ion-icon>
            </a>
            <a class="active:scale-90 transition" href="/search">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a class="active:scale-90 transition" href="/profile">
                <ion-icon name="person-outline"></ion-icon>
            </a>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- <audio controls preload id="audio" style="width:100%" volume="0.5">
    <source src="http://localhost:8080/music/9_gkpYORQLU" type="audio/ogg" />
    <source src="http://localhost:8080/music/9_gkpYORQLU" type="audio/webm" />
  </audio> -->

    <!-- <script src="/js/client.js"></script> -->
</body>

</html>