<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/web.manifest">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/render.js"></script>
</head>

<body class="font-Poppins">
    <!-- Header -->
    <header>
        <nav class="container flex items-center py-4 mt-4 sm:mt-12">
            <div class="py-1 flex flex-1 justify-start items-center gap-4">
                <img src="/img/favicon-32x32.png" alt="">
                <h1 class="text-2xl">Playzik</h1>
            </div>
            <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 uppercase text-xs">
                <li class="cursor-pointer">Features</li>
                <li class="cursor-pointer">News</li>
                <li class="cursor-pointer">Contact</li>
                <a href="/login" class="btn btn-primary text-white rounded-md">Login</a>
            </ul>
            <div class="flex sm:hidden flex-1 justify-end">
                <i class="fas fa-bars text-2xl"></i>
            </div>
        </nav>
    </header>

    <!-- Login -->
    <section class="flex h-screen">
        <div class="h-2/4 w-2/4 m-auto flex flex-col items-center text-xl">

            <a href="/login/youtube" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-block btn-wide mb-2"><i class="fa-brands fa-youtube mr-2 text-red-700"></i>Connect with Youtube</a>
            <a class="btn btn-xs sm:btn-sm md:btn-md lg:btn-block btn-wide "><i class="fa-brands fa-spotify mr-2 text-green-600"></i>Connect with Spotify</a>

        </div>
    </section>

    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <div>
            <p>Copyright © 2022 - All right reserved by Playzik</p>
        </div>
    </footer>

    <!-- <script src="/js/client.js"></script> -->

    <script></script>
</body>

</html>