<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/web.manifest">
  <title>Hello World!</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script defer src="/js/render.js"></script> -->
</head>

<body class="font-Poppins">

  <header class="py-4">
    <div class="container flex justify-between">
      <a href=""><i class="fa-solid fa-chevron-left"></i></a>
      <a href=""><i class="fa-solid fa-ellipsis"></i></a>
    </div>
  </header>

  <!-- Player -->
  <section class="h-screen">
    <div class="flex flex-col justify-center items-center py-12">
      <img class="mask mask-circle h-52 w-52 mb-3" src="/img/apple-touch-icon.png" alt="">
      <h4>Just Like You</h4>
      <span class="text-sm text-gray-600">NF</span>
    </div>
    <div class="flex">
      <button type="button"></button>
      <button type="button"></button>
      <button type="button"></button>
      <button type="button"></button>
    </div>
  </section>

  <!-- <audio controls preload id="audio" style="width:100%" volume="0.5">
    <source src="http://localhost:8080/music/9_gkpYORQLU" type="audio/ogg" />
    <source src="http://localhost:8080/music/9_gkpYORQLU" type="audio/webm" />
  </audio> -->

  <!-- <script src="/js/client.js"></script> -->
</body>

</html>