@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

.btn-application {
    @apply shadow-md py-3 px-6 rounded-md normal-case transition duration-300;
}

@layer components {

    .btn {
        @apply normal-case font-normal;
    }

    .icon-btn {
        @apply active:scale-90 transition;
    }

    #playlist #hover-background {
        visibility: hidden;
        transition-property: background-color, visibility;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transition-delay: 150ms;
        background-color: rgba(0, 0, 0, 0);
    }

    #playlist.open #hover-background {
        visibility: visible;
        transition-delay: 0ms;
        background-color: rgba(0, 0, 0, .25);
    }

    #playlist > :first-child {
        @apply transition;
        transition-property: height;
    }

    #playlist.open > :first-child {
        height: 54vh;
    }

    .progress-bar, .progress-bar > .bar {
        @apply absolute bottom-0 w-full;
        height: 1px;
    }

    .progress-bar {
        @apply bg-slate-700;
    }

    .progress-bar > .bar {
        @apply bg-secondary;
        transform: scaleX(0);
        transform-origin: left center;
    }
}