    <!-- Search -->
    <section class="mt-12">
        <div class="md:container md:mx-auto">

            <!-- Discover Music -->
            <!-- Heading -->
            <div class="mt-4 flex flex-row sm:w-3/4 mx-auto px-2 mb-4">
                <h1 class="text-md text-lg text-gray-100 flex-1">Discover Music</h1>
                <ion-icon class="justify-end" name="ellipsis-horizontal-outline"></ion-icon>
            </div>
            <!-- Content -->
            <div class="sm:w-fit mx-auto px-2">
                <div class="carousel carousel-center space-x-2">
                    <div class="carousel-item w-9/12 ">
                        <a data-xhrmusic="H1yClzFIhuc">
                            <div class="flex flex-col">
                                <div class="relative w-full">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg"
                                        src="https://i.ytimg.com/vi/H1yClzFIhuc/sddefault.jpg" alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Garo (avec Max DLG)</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">LVZ</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item w-9/12">
                        <a href="">
                            <div class="flex flex-col">
                                <div class="relative w-fit">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg"
                                        src="https://i.ytimg.com/vi/adyaUwFzb9M/sddefault.jpg" alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Ma go</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">Moji x Sboy</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Recently played tracks -->
            <!-- Heading -->
            <div class="mt-10 mb-4 flex flex-row sm:w-3/4 mx-auto px-2">
                <h1 class="text-md text-lg text-gray-100 flex-1">Recently played tracks</h1>
                <h3 class="text-sm text-secondary justify-end">See all</h3>
            </div>
            <!-- Content -->
            <div class="sm:w-fit mx-auto px-2">
                <div class="carousel carousel-center space-x-2">
                    <div class="carousel-item w-9/12">
                        <a href="">
                            <div class="flex flex-col">
                                <div class="relative w-full">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg"
                                        src="https://i.ytimg.com/vi/H1yClzFIhuc/sddefault.jpg" alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Garo (avec Max DLG)</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">LVZ</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item w-9/12">
                        <a href="">
                            <div class="flex flex-col">
                                <div class="relative w-fit">
                                    <div
                                        class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-25 rounded-lg">
                                        <ion-icon class="text-5xl text-white" name="play"></ion-icon>
                                    </div>
                                    <img class="object-cover rounded-lg"
                                        src="https://i.ytimg.com/vi/adyaUwFzb9M/sddefault.jpg" alt="Thumbails" />
                                </div>
                                <div class="p-2">
                                    <h2 class="text-gray-700 dark:text-white font-semibold">Ma go</h2>
                                    <h3 class="text-gray-600 dark:text-gray-400 text-sm ">Moji x Sboy</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
